.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.height-change-enter-active, .height-change-leave-active {
  transition-duration: .3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}
.height-change-enter, .height-change-leave-to {
  opacity: 0;
}
